@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --background: #171717;
  --foreground: #ffffff;

  /* Border radius */
  --radius-sm: 0.25rem; /* 4px */
  --radius-md: 0.375rem; /* 6px */
  --radius-lg: 0.5rem; /* 8px */
  --radius-xl: 0.75rem; /* 12px */
  --radius-2xl: 1rem; /* 16px */
  --radius-full: 9999px;

  /* Transitions */
  --transition-fast: 150ms ease-in-out;
  --transition-base: 200ms ease-in-out;
  --transition-slow: 300ms ease-in-out;
}

/* Mode sombre */
.dark {
  --background: #0a0a0a;
  --foreground: #fafafa;
}

body {
  background: var(--background);
  color: var(--foreground);
}

html {
  @apply scroll-smooth;
}

.header-glow {
  position: relative;
  overflow: hidden;
}

.header-glow::before,
.header-glow::after {
  content: "";
  position: absolute;
  /* border-radius: 50%;  */
  width: 400px; /* Taille du halo */
  height: 400px;
  z-index: 1; /* le halo se met au dessus de l'image de fond */
  pointer-events: none;
}

/* Halos Gauche (Logo) */
/* .header-glow::before {
  top: -100px; 
  left: -100px;
  background: radial-gradient(
    circle, 
    rgba(141, 237, 73, 0.4), 
    rgba(0, 0, 0, 0) 70% 
  );
} */
.header-glow::before {
  /* Positionnement pour que la "pointe" du dégradé soit visible dans le coin */
  top: -200px; /* pour afficher une partie du dégradé */
  left: -200px;

  background: radial-gradient(
    at top left,
    /* Le centre du dégradé est en haut à gauche */ rgba(193, 230, 29, 0.174),
    /* Vert très adouci, très faible opacité */ rgba(180, 222, 0, 0) 70%,
    /* Transparence à 70% pour un flou subtil */ rgba(180, 222, 0, 0) 100%
      /* Transparence complète */
  );

  background-size: 500px 500px; /* Grande taille pour étirer le dégradé */
  background-repeat: no-repeat;
}
/* Halos Droit (Bouton Download) */
.header-glow::after {
  top: -200px;
  right: -100px;
  background: radial-gradient(
    at top right,
    /* Le centre du dégradé est en haut à droite */ rgba(193, 230, 29, 0.174),
    rgba(180, 222, 0, 0) 70%,
    rgba(180, 222, 0, 0) 100%
  );
  background-size: 500px 500px;
  background-repeat: no-repeat;
}

@keyframes slide-up {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-up {
  animation: slide-up 0.8s ease-out;
}
